.git
.gitignore
.env*
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov/
dist/
*.egg-info
.venv
k8s/
docs/
README.md
docker-compose.yml
.github
tests/
.mypy_cache
.ruff_cache
ruff.toml
.claude
.env.example
.storage
